.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #F7F7F7;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navigation li a {
    text-decoration: none;
    color: #101828;;
    font-size: 1rem;
}

.navigation li a:hover {
    color: #D84343;
}