.container {
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 631px;
    margin: 0;
}

.reviewItem {
    display: flex;
    flex-direction: column;
}

.reviewerHeader {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f2f4f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #e44848;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    margin: 0;
}

.starsWrapper {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}

.starIcon {
    fill: #f2f4f7;
}

.starFilled {
    fill: #ffc531;
}

/* Текст коментаря */
.comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
}