.container {
    display: flex;
    gap: 64px;
    margin: 48px 24px;
    padding: 0 64px;
}

.catalog {
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 888px;
    list-style: none;
    margin-top: 0;
    margin-left: auto;
}

/*padding*/

.loadMoreWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.loadMoreButton {
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #DADDE1;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.loadMoreButton:hover {
    border-color: #E44848;
}