.container {
    display: flex;
    gap: 64px;
    margin: 48px 24px;
    padding: 0 64px;
}

.catalog {
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 888px;
    list-style: none;
    margin-top: 0;
    margin-left: auto;
}

/*фільтри*/

.labelTitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6C717B;
    margin: 0;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.mapIcon {
    position: absolute;
    left: 18px;
    stroke: #101828;
    pointer-events: none;
}

.locationInput {
    width: 100%;
    padding: 18px 18px 18px 48px;
    background-color: #F7F7F7;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}

/* Зміна кольору плейсхолдера */
.locationInput::placeholder {
    color: rgba(16, 24, 40, 0.6);
}