.container {
    display: flex;
    gap: 64px;
    margin: 48px 24px;
    padding: 0 64px;
}

.catalog {
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 888px;
    list-style: none;
    margin-top: 0;
    margin-left: auto;
}

.filters p {
    margin: 0;
}