.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/images/Hero.png');
  background-size: cover;
  background-position: center;
  padding: 260px 64px;
  color: #F7F7F7;
}

.title{
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  margin: 0 0 16px 0;
}

.description{
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin: 0;
}

.button{
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: #E44848;
  text-decoration: none;
  color: #ffffff;
}