.container {
    display: flex;
    flex-direction: column;
    padding: 44px 52px;
    height: 500px;
    justify-content: space-between;
}

/* Список тегів-іконок */
.tagsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.tag {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background-color: #EAECEF;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.tag svg {
    stroke: #101828;
}

/* Заголовок секції */
.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin: 100px 0 0 0 ;
}

/* Розділювальна лінія */
.separator {
    height: 1px;
    background-color: #dadde1;
    margin-top: 24px;
}

/* Список характеристик */
.detailsList {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;
}

.detailsItem {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
}

/* Капіталізація значення Form */
.capitalize {
    text-transform: capitalize;
}