.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
}

.imageWrapper {
    position: relative;
    flex-shrink: 0;
    width: 292px;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    object-fit: cover;
    object-position: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceWrapper {
    display: flex;
    align-items: center;
}

.name, .price{
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    margin: 0;
    display: inline-block;
}

/*heart*/

.favoriteBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 12px;
    transition: transform 0.2s ease;
}

.favoriteBtn:active {
    transform: scale(0.9);
}

.heartIcon {
    fill: none;
    stroke: #101828;
    stroke-width: 2px;
    transition: stroke 0.3s ease, fill 0.3s ease;
    display: block;
}

.favoriteBtn:hover .heartIcon {
    stroke: #E44848;
}

.active .heartIcon {
    fill: #E44848;
    stroke: #E44848;
}

/* rating+location*/

.subHeader{
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.ratingWrapper, .locationWrapper{
    display: flex;
    gap: 4px;
}

.starIcon{
    fill: #FFC531;
}

/*опис*/
.description {
    color: #475467;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 525px;
    margin-top: 24px;
}

/* Теги */
.tagsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin-top: 24px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background-color: #f2f4f7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.showMoreBtn{
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    border-color: #E44848;
    background-color: #E44848;
    text-decoration: none;
    color: #ffffff;
    width: 166px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    cursor: pointer;
}

.showMoreBtn:hover,
.showMoreBtn:active {
    background-color: #D84343;
}