.container {
    border: 1px solid #dadde1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 44px;
    width: 100%;
    box-sizing: border-box;
    height: 588px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    color: #101828;
    width: 527px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin: 8px 0 0 0;
    width: 527px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 24px 0 0 0;
    height: 420px;
    width: 527px;
}

.input,
.textarea {
    width: 100%;
        box-sizing: border-box;
    padding: 18px;
    border: none;
    border-radius: 12px;
    background-color: #f7f7f7;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    outline: none;
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(16, 24, 40, 0.6);
}

.textarea {
    min-height: 118px;
    resize: none;
}

.submitBtn {
    margin-top: 10px;
    padding: 16px 60px;
    background-color: #e44848;
    color: #ffffff;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    background-color: #d84343;
}

/* Контейнер календаря */
:global(.react-datepicker) {
    border: 1px solid #10182833;
    border-radius: 20px;
}

/* Заголовок (Місяць Рік) */
:global(.react-datepicker__header) {
    background-color: white;
    border-bottom: 1px solid #1018281A;
    padding: 0 0 12px 0;
}

:global(.react-datepicker__current-month) {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
}

:global(.react-datepicker__day-name) {
    color: #475467;
    font-weight: 500;
    text-transform: uppercase;
}

/* Вибраний день */
:global(.react-datepicker__day--selected) {
    background-color: #475467 !important;
    color: white !important;
    border-radius: 50% !important;
}

/* Ефекти при наведенні */
:global(.react-datepicker__day:hover) {
    border-radius: 50% !important;
    background-color: #475467 !important;
    color: #ffffff !important;
}

/* Дні з іншого місяця */
:global(.react-datepicker__day--outside-month) {
    color: #0b111c33 !important;
}